.carousel {
  height: 100vh;
  background: grey;
  position: relative;

  .arrow {
    z-index: 100;
    position: absolute;
    cursor: pointer;
    width: 40px;
    fill: white;
    top: 50%;
    margin-top: -20px;
    &:hover {
      fill: #4bf;
    }
  }

  .prev_arrow {
    left: 10vw;
  }

  .next_arrow {
    right: 10vw;
  }
}

.container {
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

@media (max-width: 950px) {
  .arrow {
    width: 20px;
  }
}
