.carousel {
  background: grey;
  height: 100vh;
  display: flex;
  align-content: center;

  .arrow {
    cursor: pointer;
    &:hover {
      fill: blue;
    }
    width: 40px;
    fill: white;
    margin: 40px;
  }
}

.slide {
  color: white;
  display: flex;
  width: 1000px;
  overflow: hidden;
  margin: auto;
  transition: transform 0.5 ease;
  h1 {
    margin: 10px 0px;
    font-size: 30px;
    font-weight: normal;
  }

  .main_img {
    height: 500px;
  }
  .buttons {
    display: flex;
  }

  button {
    border: none;
    padding: 10px;
    width: 125px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: white;
  }
  .buy_now_btn {
    display: flex;
    align-items: center;
  }

  .play_button_icon {
    height: 20px;
    margin-right: 7px;
    padding-top: 2px;
    top: 0.125em;
    fill: white;
  }
  .watch_trailer_btn {
    border: 1px solid white;
    background: transparent;
  }
  .text {
    margin: 40px;
  }
  .description {
    color: #bebebe;
  }
}
